<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset your password</h5>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <p>We will send you an email to reset your password</p>
                <input type="email" name="email" placeholder="Please input your email address" class="form-control py-3">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    {% endform %}
  </div>
</div>