<div class="input-group mb-3 input-cart">
    <button class="btn btn-outline-secondary btn-number px-3" disabled="disabled" type="button" id="button-addon1" data-type="minus" data-field="quantity">-</button>
    <input type="number" name="quantity" id="quantity" class="form-control text-center input-number" min="1" max="100" readonly placeholder="" aria-describedby="button-addon1" value="1">
    <button class="btn btn-outline-secondary btn-number px-3" type="button" id="button-addon2" data-type="plus" data-field="quantity">+</button>
</div>