<div class="input-group input-cart-checkout">
    <button class="btn btn-outline-secondary btn-number-offcanvas px-3" type="button" id="coba-button" data-type="minus" data-field="quantity">-</button>
    <input type="hidden" class="item-key" name="id" value="{{key}}">
    <input type="number" name="quantity" id="quantity" class="form-control text-center input-number" min="0" max="30" readonly placeholder="" aria-describedby="button-addon1" value="{{quantity}}">
    <button class="btn btn-outline-secondary btn-number px-3" type="button" id="button-addon2" data-type="plus" data-field="quantity">+</button>
</div>