<div class="row">
    <div class="col-lg-2 slider slider-nav d-none d-sm-block">
        {% for image in product.images %}
            <img loading="lazy" class="img-track" src="{{ image.src | img_url: 'grande' }}" alt="{{product.featured_image.alt}}" />
        {% endfor %}
    </div>
    <div class="col-lg-10 slider slider-for">
        {% for image in product.images %}
            <img loading="lazy" class="img-fluid" src="{{ image.src | img_url: 'grande' }}" alt="{{product.featured_image.alt}}" />
        {% endfor %}
    </div>
</div>