<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12">
            <p class="text-center mb-0 py-2">
                Copyright &copy; {{ 'now' | date: '%Y' }} - Buy Traditional Chinese Medicine. All rights reserved.
            </p>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Footer Copyright",
        "settings": [],
        "presets": [
            {
                "name": "footer-right"
            }
        ]
    }
    {% endschema %}