<section class="container">
    <div class="row pb-5 border-bottom"></div>
</section>
{% schema %}
{
    "name": "List Features Main",
    "settings": [],
    "presets": [
        {
            "name": "list-features-main"
        }
    ]
}
{% endschema %}