<section class="container blogs">
    <div class="row py-5 page-title">
        <div class="col-12">
            {% render 'breadcrumb-custom', title:"Blog" %}
        </div>
        <div class="col-12 mt-5">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="row mb-5">
        {% for blog in blogs.news.articles %}
            <div class="col-lg-4 col-6">
                {% render 'news-card',
                title: blog.title,
                url: blog.url,
                image: blog.image.src,
                tanggal: blog.published_at,
                desc: blog.content
                %}
            </div>
        {% endfor %}
    </div>
</section>
{% schema %}
{
    "name": "main-blog",
    "settings": [],
    "presets": [
        {
            "name": "main-blog"
        }
    ]
}
{% endschema %}