<section class="container pt-5 page-title">
    <div class="row">
        <div class="col-12">
            {% render 'breadcrumb-custom', title: page.title%}
            <div class="text-title mt-5">
                <h1>{{section.settings.title | t}}</h1>
            </div>
        </div>
        <div class="col-lg-8">
            <p>{{section.settings.description | t}}</p>
        </div>
    </div>
    {% if section.settings.image_hidden == 'yes' %}
        <div class="row space-section">
            <div class="col-12">
                <img class="img-fluid" src="{% if section.settings.image != blank %} {{ section.settings.image | image_url }} {% else %} {{ 'title-image.jpg' |  asset_url }} {% endif %}" loading="lazy">
            </div>
        </div>
    {% endif %}
</section>
{% schema %}
{
    "name": "page-title-one",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Header Image"
        },
        {
            "type": "radio",
            "id": "image_hidden",
            "label": "Image Hidden",
            "options": [
                {
                "value": "off",
                "label": "off"
                },
                {
                "value": "yes",
                "label": "yes"
                }
            ],
            "default": "yes"
        }
    ],
    "presets": [
        {
            "name": "page-title-one"
        }
    ]
}
{% endschema %}